body {
  background-image: url(orange.jpg);
  background-size: cover;
}

.header {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.form {
  display: grid;
  gap: 10px;
  justify-content: center; 
  align-items: center;
  padding: 20px;  
}

.kontakt-uppgift {
  text-align: center;
  color: white;
}

.text-ruta {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
  font-family: cursive;
  color: white;
}

label {
  flex: 0 0 30%; 
  margin-right: 10px; 
}

input {
  flex: 0 0 70%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.kontakt-uppgift {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .text-ruta {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    flex: 0 0 100%;
    margin-right: 0;
  }

  input {
    flex: 0 0 100%;
  }

  button {
    width: 100%;
  }
}