body {
  background-image: url(sahara.jpg);
  background-size: cover;
}

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;
 place-items: center;


}

.header {
  text-align: center;
  color: white;
  font-size: xx-large;
}

.ansikte {
  width: 150px;
  border-radius: 50%;
  transition: .2s ease 
}

.ansikte:hover {
  transform: scale(1.2);
}

.Leya {
  width: 150px;
  border-radius: 50%;
  transition: .2s ease 
}

.Leya:hover {
  transform: scale(1.2);
}

.familj {
  width: 150px;
  border-radius: 50%;
  transition: .2s ease 
}

.familj:hover {
  transform: scale(1.2);
}

.ilyas {
  width: 150px;
  border-radius: 50%;
  transition: .2s ease 
}

.ilyas:hover{
  transform: scale(1.2);
}

.downleft {
  width: 150px;
  font-family: sans-serif;
  color: white;
  
}

.downright {
  width: 150px;
  font-family: sans-serif;
  color: white;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* Dölj horisontell skrollning */
  }

  .container {
    display: flex; /* Använd flexbox istället för grid på mindre skärmar */
    flex-wrap: wrap; /* Tillåt flexbox-element att wrapa när de inte får plats */
    align-items: center;
    justify-content: center;
  }

  /* Justera storleken på alla element */
  .ansikte,
  .Leya,
  .familj,
  .ilyas,
  .downleft,
  .downright {
    width: 100%;
    max-width: 200px;
    height: auto;
    font-size: 14px;
    border-radius: 25px;
  }
}


